body {
  text-align: center;
  color: #99F;
  background-color: rgb(90,80,70)
}

h1 {
  color: rgb(255, 0, 0);
  text-align: right;
  font-style: oblique;
  margin-right: 15%;
  margin-top: -25px;
}

img {
  width: 50%;
  border-radius: 50%;
}

img:hover {
  width: 60%;
}

ul {
  color: rgb(90,80,70);
  width: 150px;
  margin: auto;
}

li {
  color: rgb(80, 156,0);
  text-align: left;
  line-height: 30px;
  font-family: sans-serif;
}

/* Highlight for secret message */
li:last-child {
  color: inherit;
}

a {
  font-family: sans-serif;
}

a, a:visited {
  color: rgb(255, 130, 130);
}

a:hover {
  color: #fff;
  font-weight: bolder;
}
